.main {
  width: 100%;
  padding: var(--min-padding);
  display: flex;
  flex-direction: column;
  row-gap: var(--min-padding);
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: var(--label-size);
  font-weight: var(--label-weight);
}

.headerElements {
  display: flex;
  column-gap: 0.4rem;
}

.isMandatory {
  color: var(--danger-color);
}

.info_container {
  position: relative;
  cursor: pointer;
}

.info {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  top: 7px;
  right: 7px;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--content-size);
  font-weight: var(--content-weight);
  z-index: 4;
}

.info_container:hover {
  .info {
    display: block;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--min-padding);
}

.checkbox_container {
  display: flex;
  column-gap: var(--min-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding-left: var(--min-padding);
  padding-right: var(--min-padding);
  background-color: var(--bg-color);
}

.checkbox_container > input {
  cursor: pointer;
}

.checkbox_container > label {
  cursor: pointer;
  font-size: var(--content-size);
  font-weight: var(--content-weight);
}

.checkbox_container.disabled {
  background-color: var(--bg-disabled);
}

.checkbox_container.disabled > input {
  cursor: not-allowed;
}

.checkbox_container.disabled > label {
  cursor: not-allowed;
}
