.main {
 width: 100%;
 padding: var(--min-padding);
 display: flex;
 flex-direction: column;
 row-gap: var(--min-padding);
 box-sizing: border-box;
}

.container {
 width: 100%;
 border: 1px solid var(--border-color);
 padding: var(--min-padding);
 border-radius: var(--border-radius);
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.time_container {
 display: flex;
 column-gap: var(--min-padding);
}

.test {
 height: 300px;
}
