.main {
 width: 100%;
 padding: var(--min-padding);
 display: flex;
 flex-direction: column;
 row-gap: var(--min-padding);
 box-sizing: border-box;
}

.container {
 width: 100%;
 border: 1px solid var(--border-color);
 padding: var(--min-padding);
 border-radius: var(--border-radius);
 display: flex;
 flex-wrap: wrap;
 gap: var(--min-padding);
}
