.container {
  width: 100%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  box-sizing: border-box;
  justify-content: start;
}

.tf {
  width: 100%;
  border: 2px solid black;
  outline: none;
}
